<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfTalkdeskReportGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <WpfTalkdeskReportGenerator.Properties.Settings>
            <setting name="PhoneColorKeyColumn" serializeAs="String">
                <value>AH</value>
            </setting>
            <setting name="PhoneColorKeyRow" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GroupByNameColumn" serializeAs="String">
                <value>F</value>
            </setting>
            <setting name="GroupByNameRow" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="AgentNameColumn" serializeAs="String">
                <value>G</value>
            </setting>
            <setting name="TwelveAmColumn" serializeAs="String">
                <value>H</value>
            </setting>
            <setting name="TimeZoneId" serializeAs="String">
                <value>Central Standard Time</value>
            </setting>
            <setting name="InputDirectory" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>C:\</value>
            </setting>
        </WpfTalkdeskReportGenerator.Properties.Settings>
    </userSettings>
</configuration>